//開根號
@function fabs($x) {
	@if $x > 0 {
		@return $x;
	}
	@else {
		@return $x * -1;
	}
}
@function sqrt($x) {
    $ans: $x;
    $del: 0.00001;
    $pre: 0;
    @while fabs($ans - $pre) >= $del {
        $pre: $ans;
        $ans: ($ans + $x / $ans) / 2;
    }
    @return $ans; 
}

.clock-number {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;

    &.clock-number-1 {transform: translate(calc(90px - 50%), calc(-90px * #{sqrt(3)} - 50%))}
    &.clock-number-2 {transform: translate(calc(90px * #{sqrt(3)} - 50%), calc(-90px - 50%))}
    &.clock-number-3 {transform: translate(calc(180px - 50%), calc(-50%))}

    &.clock-number-4 {transform: translate(calc(90px * #{sqrt(3)} - 50%), calc(90px - 50%))}
    &.clock-number-5 {transform: translate(calc(90px - 50%), calc((90px * #{sqrt(3)} - 50%)))}
    &.clock-number-6 {transform: translate(0, calc(180px - 50%))}

    &.clock-number-7 {transform: translate(calc(-90px - 50%), calc(90px * #{sqrt(3)} - 50%))}
    &.clock-number-8 {transform: translate(calc(-90px * #{sqrt(3)} - 50%), calc(90px - 50%))}
    &.clock-number-9 {transform: translate(calc(-180px - 50%), -50%)}

    &.clock-number-10 {transform: translate(calc(-90px * #{sqrt(3)} - 50%), calc(-90px - 50%))}
    &.clock-number-11 {transform: translate(calc(-90px - 50%), calc((-90px * #{sqrt(3)}) - 50%))}
    &.clock-number-12 {transform: translate(-50%, calc(-180px - 50%))}

}