<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scoped CSS Variables and JS</title>
</head>
<style>

  /*
    misc styles, nothing to do with CSS variables
  */

  * {
    box-sizing: border-box;
  }

  body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }

  .img-wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

  }

  .img-wrap>img {
    width: 100%;
  }
</style>
<body>
 <div id="app">
  <h2>Update CSS Variables with <span class='hl' :style="titleColor">JS</span></h2>

  <form class="controls">
    <label for="space">
      Spacing
      <input 
        type="range" 
        v-model="space"
        id="space"
        min="0" max="50">
    </label>
    <label for="blur">
      Blur
      <input 
        type="range" 
        v-model="blur"
        id="blur"
        min="0" max="10">
    </label>
    <label for="baseColor">
      BaseColor
      <input 
        type="color" 
        v-model="baseColor" 
        id="baseColor">
    </label>
  </form>

  <div class="img-wrap" :style="customImgStyle">
    <img :src="content.src" alt="">
  </div>
 </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        baseColor: '#FFC600',
        space: '5',
        blur: '5',
        content: {
          src: 'https://source.unsplash.com/7bwQXzbF6KE/800x500'
        }
      },
      computed: {
        customImgStyle() {
          return {
            filter: `blur(${this.blur}px)`,
            border: `${this.space}px solid ${this.baseColor}`
          }
        },
        titleColor() {
          return {
            color: this.baseColor
          }
        }
      }
    });
  </script>

</body>
</html>
